<html>
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/pure-min.css"/>
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Raleway:200"/>
        <link rel="stylesheet" href="http://purecss.io/combo/1.17.30?/css/main-grid.css&/css/main.css&/css/menus.css&/css/rainbow/baby-blue.css"/>
        <style>
            .l-box {
                padding: 1em;
            }
        </style>
            
        <title>QuizMaster</title>
    </head>
    <body>
        <div id="layout">
            <div id="main">
                <div id="content">
                    <div class="header">
                        <h1>QuizMaster</h1>
                    </div>
                    {{#errors}}
                    <aside>{{.}}</aside>
                    {{/errors}}
