{{>header}}
<div class="l-box">
    <p><a href="/register">Register a new team</a></p>
    <h2 id="horizontal-menu" class="content-subhead">Teams</h2>
    <div style="text-align: center;">
        {{#teams}}
        <p><a href="/team/{{uuid}}" class="pure-button" style="width: 90%">{{name}}</a></p>
        {{/teams}}
    </div>
</div>
{{>footer}}