{{>header}}
<div class="l-box">
    <h2 id="horizontal-menu" class="content-subhead">Register Team</h2>
    <form class="pure-form pure-form-stacked" method="POST">
        <fieldset>
            <label for="name">Team Name</label>
            <input type="text" id="name" placeholder="Team Name" name="name" />
            <button type="submit" class="pure-button pure-button-primary">Do It</button>
        </fieldset>
    </form>
</div>
{{>footer}}