{{>header}}
<div class="l-box">
    <h2 id="horizontal-menu" class="content-subhead">Login as Score Keeper</h2>
    <form class="pure-form pure-form-stacked" method="POST">
        <fieldset>
            <label for="password">Password</label>
            <input type="password" id="name" placeholder="Password" name="password" />
            <button type="submit" class="pure-button pure-button-primary">Login</button>
        </fieldset>
    </form>
</div>
{{>footer}}