{{>header}}
<script>
    function setTeam(uuid) {
        document.getElementById('teamField').value = uuid;
        return true;
    }
</script>
<div style="text-align: center;">
    <form class="pure-form pure-form-stacked" method="POST">
        <input type="hidden" name="password" value="{{ password }}"/>
        <input type="hidden" name="team" value="" id="teamField"/>
        {{#teams}}
        <p>
        {{ name }}<br>
        <button type="submit" class="pure-button" name="incr" value="1" onclick="return setTeam('{{uuid}}')">1</button>
        <button type="submit" class="pure-button" name="incr" value="5" onclick="return setTeam('{{uuid}}')">5</button>
        <button type="submit" class="pure-button" name="incr" value="50" onclick="return setTeam('{{uuid}}')">50</button>
        :
        <button type="submit" class="pure-button" name="decr" value="1" onclick="return setTeam('{{uuid}}')">-1</button>
        <button type="submit" class="pure-button" name="decr" value="5" onclick="return setTeam('{{uuid}}')">-5</button>
        <button type="submit" class="pure-button" name="decr" value="50" onclick="return setTeam('{{uuid}}')">-50</button>
        </p>
        <hr/>
        {{/teams}}
    </form>
</div>
{{>footer}}