{{>header}}
<style>
    .btn-big-red {
        background-color: #C63702;
        background-image: linear-gradient(167deg, rgba(255, 255, 255, 0.1) 50%, rgba(0, 0, 0, 0) 55%), linear-gradient(to bottom, rgba(255, 255, 255, 0.15), rgba(0, 0, 0, 0));
        border-radius: 6px;
        box-shadow: 0 0 0 1px #C63702 inset, 0 0 0 2px rgba(255, 255, 255, 0.15) inset, 0 8px 0 0 #AD3002, 0 8px 0 1px rgba(0, 0, 0, 0.4), 0 8px 8px 1px rgba(0, 0, 0, 0.5);
        color: #FFF;
        display: inline-block;
        font-family: "Lucida Grande", Arial, sans-serif;
        font-size: 22px;
        font-weight: bold;
        height: 61px;
        letter-spacing: -1px;
        line-height: 61px;
        margin: 30px 0 10px;
        position: relative;
        text-align: center;
        text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
        text-decoration: none !important;
        top: 0;
        width: 186px;
        -moz-transition: 0.15s;
        -o-transition: 0.15s;
        -webkit-transition: 0.15s;
        transition: 0.15s;
    }
.btn-big-red:hover, .btn-big-red:focus {
    background-color: #D13902;
    box-shadow: 0 0 0 1px #C63702 inset, 0 0 0 2px rgba(255, 255, 255, 0.15) inset, 0 10px 0 0 #AD3002, 0 10px 0 1px rgba(0, 0, 0, 0.4), 0 10px 8px 1px rgba(0, 0, 0, 0.6);
    top: -2px;
}
.btn-big-red:active {
    box-shadow: 0 0 0 1px #AD3002 inset, 0 0 0 2px rgba(255, 255, 255, 0.15) inset, 0 0 0 1px rgba(0, 0, 0, 0.4);
    -moz-transform: translateY(10px);
    -ms-transform: translateY(10px);
    -webkit-transform: translateY(10px);
    transform: translateY(10px);
}
</style>
<script>
    function buzz() {
        req = new XMLHttpRequest();
        req.open("GET", "{{ uuid }}/buzz", true);
        req.send();
        return false;
    }
</script>
<div class="l-box">
    <h2 id="horizontal-menu" class="content-subhead" style="text-align: center;">{{ name }}</h2>
    <center><a href="javascript:buzz();" class="btn-big-red">Buzz!</a></center>
</div>
{{>footer}}